.sect {
  background-color: white;
  color: black;
} 
a:link {
  color: green; 
  background-color: transparent; 
  text-decoration: none;
}
a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}
th {
  text-align: left;
}
body {
  font-family: 'Prata', serif;
  font-size: 20px;
  background-color:white; 
  padding: 20px
}
h1{
  text-align: center;
  font-family: 'chicle';
}
h2{
  font-family:'chicle';
}
h3{
  font-family:'chicle';
}
.outer-box {
  background-color:grey;
  margin:10px;
  padding:10px;
  min-height:300px;
}
.name {
  color:white;
  font-family:Tahoma;
  margin-left:20px;
}
.picture {
  margin-left:20px;
  float:left;
  margin-right:20px;
  margin-bottom:10px;
  border:2px solid black;
}
.bio {
  font-family:Tahoma;
  padding-left:20px;
  padding-right:20px;
  padding-bottom:20px;
}
img {
  display:block;
}
.sqbull{
 list-style-type:square; 
}
#ad {
  float:right;
  margin-right:10px;
}
